<template>
    <div class="block">
        <img style="width: 100%;"
             :src="application.icon ?`/storage/${application.icon}` :'/application.png'" alt="">
        <div>
            <div>{{ application.title }}</div>
            <button v-if="!installed"
                    @click="installApp(application.repo)">Install</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            application: Object,
            installed: Boolean
        },
        mounted() {

        },
        methods: {
            async installApp(repo) {
                await VDE.apiQuery('installApplication', repo);
                window.location.reload();
            }
        },
        data() {
            return {

            }
        }
    }
</script>

<style lang="scss">

</style>