<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VDE Store</title>

    <!-- Libs -->
    <script src="/public/lib/vue.js"></script>
    <script src="/public/lib/vde.api.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/public/ui.css">
</head>
<body>
<div id="app" style="padding: 5px;">
    <div v-if="currentTab === 'Store'" style="display: flex; flex-wrap: wrap;">
        <div class="block-wrapper" v-for="app in applicationList" style="display: flex; flex: 0 25%;" :v-key="'a' + app.name">
            <application
                    :application="app"
                    :installed="checkIfApplicationIsInstalled(app.repo)"></application>
        </div>
    </div>

    <div v-if="currentTab === 'Installed'" style="display: flex; flex-wrap: wrap;">
        <div class="block-wrapper" v-for="app in installedList" style="display: flex; flex: 0 25%;" :v-key="'i' + app.name">
            <installed :application="app"></installed>
        </div>
    </div>
</div>
<script>
    (async () => {
        await VDE.initWithVue({
            tabs: ['Store', 'Installed', 'Reload'],
            components: ['application', 'installed'],
            windowSize: [720, 475],
            async start(args) {
                if (await VDE.fileExists("app.list.info.json")) {
                    this.applicationList = await VDE.getStorageFile("app.list.info.json", "json");
                    this.installedList = (await VDE.apiQuery("getInstalledApplicationList")).map(x => {
                        if (x.icon) x.icon = '/public' + x.icon;
                        return x;
                    });
                } else {
                    await this.initStore();
                }
            },
            event: {
                tabClicked(tab) {
                    if (tab === 'Reload') {
                        this.initStore();
                    } else this.currentTab = tab;
                }
            },
            method: {
                async initStore() {
                    // Get repo list
                    let repoList = await VDE.getInternalFile("app.list.json", "json");

                    // Get info about all applications
                    let appInfoList = await Promise.all(repoList.map(x => this.getApplicationInfo(x)));
                    appInfoList = appInfoList.filter(Boolean);

                    // Save icons
                    for (let i = 0; i < appInfoList.length; i++) {
                        if (appInfoList[i].icon) {
                            let iconName = appInfoList[i].title.toLowerCase().replace(/ /g, '_') + '_icon.png';
                            await VDE.saveFile(iconName, appInfoList[i].icon);
                            appInfoList[i].icon = iconName;
                        } else delete appInfoList[i].icon;
                    }

                    // Save info
                    await VDE.saveFile("app.list.info.json", JSON.stringify(appInfoList));

                    // Reload
                    window.location.reload();
                },
                async getApplicationInfo(repoUrl) {
                    let repoPath = repoUrl.replace('.git', '');
                    let data = null;
                    let icon = null;

                    // Get app data
                    try {
                        data = JSON.parse(
                            await VDE.getRemoteFile(repoPath + "/raw/master/application.json", false, true)
                        );
                        data.repo = repoUrl;
                    }
                    catch { return null;}

                    // Get app icon
                    try { icon = await VDE.getRemoteFile(repoPath + "/raw/master/icon.png", true, true); }
                    catch {}
                    return Object.assign(data, { icon });
                },
                checkIfApplicationIsInstalled(repo) {
                    return !!this.installedList.find(x => x.repo === repo);
                }
            },
            data: {
                currentTab: 'Store',
                applicationList: [],
                installedList: [],
            }
        });
    })();
</script>
</body>
</html>