<template>
    <div class="block">
        <img style="width: 100%;"
             :src="application.icon ?`${application.icon}` :'/application.png'" alt="">
        <div>
            <div>{{ application.title }}</div>
            <button @click="updateApp(application.repo)">Update</button>
            <button @click="removeApp(application.repo)">Remove</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            application: Object
        },
        mounted() {

        },
        methods: {
            async removeApp(repo) {
                await VDE.apiQuery('removeApplication', repo);
                window.location.reload();
            },
            async updateApp(repo) {
                await VDE.apiQuery('pullUpdateApplication', repo);
                window.location.reload();
            }
        },
        data() {
            return {

            }
        }
    }
</script>

<style lang="scss">

</style>